# Binaries
/bin/
/tmp/

# Build artifacts
public/css/app.css

# Go
*.test

# Node
node_modules/

# Editor
.DS_Store
.idea/
.vscode/

# Secrets
.env
.env.local
# But allow example files
!.env.example
!.env.local.example

